@using Data.Entities;
@using System.Security.Claims;
@using Data.Enums;
@model Utility.ViewModels.VacancieDetailsVm
@{
	ViewData["Title"] = "Details";
}

<div class="container">
	<div class="row mb-3">
		<div class="col-sm-6">
			<h3 class="display-3">@Model.Vacancie.Name</h3>
		</div>
		@if(Model.Vacancie.Company.AppUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
		{
			<div class="col-sm-6 d-flex justify-content-end align-items-center">
				<a class="btn btn-outline-primary ms-3" asp-controller="VacancieRespond" asp-action="RespondsForVacancie" asp-route-id="@Model.Vacancie.Id">
					Responds
				</a>
				<a class="btn btn-outline-primary ms-3" asp-controller="JobOffer" asp-action="OffersOfVacancie" asp-route-id="@Model.Vacancie.Id">
					Offers
				</a>
				<a class="btn btn-outline-primary ms-3" asp-action="Update" asp-route-id="@Model.Vacancie.Id">Edit your vacancie</a>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-outline-danger ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
					Delete
				</button>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<form method="post" asp-action="Delete">
					<input hidden asp-for="Vacancie.Id">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title fw-bold" id="exampleModalLabel">Are you sure?</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p class="text-danger">This vacancie will be deleted and all related data will be lost forever.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, go back</button>
								<button type="submit" class="btn btn-danger">Yes, delete this vacancie</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		}
		<hr />
	</div>
	<div class="row gx-5">
		<div class="col-sm-8">
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Description</label>
				<div class="col-sm-10 p-2">
					<p class="lead">@Html.Raw(Model.Vacancie.Description)</p>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Salary fork</label>
				<div class="col-sm-10 p-2">
					<div class="input-group">
						<span class="input-group-text">From</span>
						<input type="number" disabled asp-for="Vacancie.LeftSalaryFork" class="form-control" />
						<span class="input-group-text">To</span>
						<input type="number" disabled asp-for="Vacancie.RightSalaryFork" class="form-control" />
					</div>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Sphere</label>
				<div class="col-sm-10 p-2">
					<label>@Model.Vacancie.Sphere.Name</label>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Specialization</label>
				<div class="col-sm-10 p-2">
					<label>@Model.Vacancie.Specialization.Name</label>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Experience level</label>
				<div class="col-sm-10 p-2">
					<label>@Model.Vacancie.ExperienceLevel.Name</label>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">English level</label>
				<div class="col-sm-10 p-2">
					<label>@Model.Vacancie.EnglishLevel.Name</label>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Remoteness</label>
				<div class="col-sm-10 p-2">
					@Model.Vacancie.Remoteness.Name
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="row mb-3">
				<p class="lead p-2">Keywords</p>
				@foreach (Keyword keyword in Model.Vacancie.Keywords)
				{
					<div class="col-auto">
						<span class="badge bg-primary text-light">@keyword.Name</span>
					</div>
				}
			</div>
			<div class="row mb-3">
				<p class="lead p-2">States</p>
				@foreach (State state in Model.Vacancie.States)
				{
					<div class="col-auto">
						<span class="badge bg-primary text-light">@state.Name</span>
					</div>
				}
			</div>
			<div class="row mb-3">
				<p class="lead p-2">Cities</p>
				@foreach (City city in Model.Vacancie.Cities)
				{
					<div class="col-auto">
						<span class="badge bg-primary text-light">@city.Name</span>
					</div>
				}
			</div>
		</div>
	</div>

	@if (User.IsJobseeker())
	{
		<div class="row justify-content-end">
			<div class="col-sm-6">
				<form method="post" asp-action="Respond">
					<input hidden asp-for="Vacancie.Id" />
					<div class="row mb-3">
						<label asp-for="SelectedResumeId" class="col-sm-4 col-form-label">Select your resume</label>
						<div class="col-sm-8">
							@if (Model.AvailableResumes.Any())
							{
								<select asp-for="SelectedResumeId" class="form-select">
									<option selected disabled value="">--Select a resume--</option>
									@foreach (Resume resume in Model.AvailableResumes)
									{
										<option value="@resume.Id">@resume.Name</option>
									}
								</select>
							}
							else
							{
								<label class="col-form-label">
									You have no resumes yet. <a asp-controller="Resume" asp-action="Create">Create new?</a>
								</label>
							}

						</div>
					</div>

					<div class="row mb-3">
						<div>
							<button type="submit" class="btn btn-outline-primary form-control">
								Send CV
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	}
	
</div>