@using Data.Entities;
@using Data.Enums;
@using Utility.Services.Checkbox;
@using Utility.Services.OrderServices;
@model Utility.ViewModels.VacancieIndexListVm
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <form method="get" asp-action="Index">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="display-3">@Model.TotalCount @(Model.TotalCount == 1 ? "Vacancie" : "Vacancies") Found</h3>
        </div>
        @if (User.IsCompany())
        {
            <div class="col-sm-6 d-flex justify-content-end align-items-center">
                <a asp-action="Create" class="btn btn-outline-primary">
                    Create new vacancie
                </a>
            </div>
        }
    </div>

    <hr />

    <div class="row gx-5 mt-4">
        
        @*Search/Filter/Sort form*@
        <div class="col-sm-4">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <a asp-action="Index" class="form-control btn btn-outline-secondary">Reset</a>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="form-control btn btn-outline-primary">
                            Search
                        </button>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="form-label">Search by title</label>
                    <div>
                        <input asp-for="Filter.SearchQuery" type="text" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="form-label">Salary bounds</label>
                    <div class="input-group">
                        <span class="input-group-text">From</span>
                        <input asp-for="Filter.SalaryFrom" type="number" class="form-control" />
                        <span class="input-group-text">To</span>
                        <input asp-for="Filter.SalaryTo" type="number" class="form-control" />
                    </div>
                </div>

                @{
                    var models = new List<IndexCheckboxPartialVm>()
                    {
                        new IndexCheckboxPartialVm(Model.Filter.CheckboxKeywords, "Keywords", $"{nameof(Model.Filter)}.{nameof(Model.Filter.KeywordsId)}"),
                        new IndexCheckboxPartialVm(Model.Filter.CheckboxSpheres, "Spheres", $"{nameof(Model.Filter)}.{nameof(Model.Filter.SpheresId)}"),
                        new IndexCheckboxPartialVm(Model.Filter.CheckboxSpecializations, "Specializations", $"{nameof(Model.Filter)}.{nameof(Model.Filter.SpecializationsId)}"),
                        new IndexCheckboxPartialVm(Model.Filter.CheckboxExperienceLevels, "Experience level", $"{nameof(Model.Filter)}.{nameof(Model.Filter.ExperienceLevelsId)}"),
                        new IndexCheckboxPartialVm(Model.Filter.CheckboxEnglishLevels, "English level", $"{nameof(Model.Filter)}.{nameof(Model.Filter.EnglishLevelsId)}"),
                        new IndexCheckboxPartialVm(Model.Filter.CheckboxRemotenesses, "Remoteness", $"{nameof(Model.Filter)}.{nameof(Model.Filter.RemotenessesId)}"),
                        new IndexCheckboxPartialVm(Model.Filter.CheckboxStates, "States", $"{nameof(Model.Filter)}.{nameof(Model.Filter.StatesId)}"),
                        new IndexCheckboxPartialVm(Model.Filter.CheckboxCities, "Cities", $"{nameof(Model.Filter)}.{nameof(Model.Filter.CitiesId)}"),
                    };
                    for (int i = 0; i < models.Count; i++)
                    {
                        models[i].AccordionId = $"flush-{i.ToString()}";
                    }
                }
                <div class="accordion accordion-flush mb-3" id="accordion">
                    @foreach (var model in models)
                    {
                        <partial name="_IndexCheckboxListPartial" model="model" />
                    }
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6">
                        <a asp-action="Index" class="form-control btn btn-outline-secondary">Reset</a>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="form-control btn btn-outline-primary">
                            Search
                        </button>
                    </div>
                </div>
            
        </div>

        <div class="col-sm-8">
            <div class="row justify-content-between mb-3">
                <div class="col-sm-auto col-12">
                    @if (!Model.IsPreviousDisabled)
                    {
                        <input asp-route-Id="@(Model.CurrentPage - 1)" type="submit" value="Previous page" class="form-control btn btn-outline-primary" />
                    }
                    else
                    {
                        <input value="Previous page" type="submit" class="form-control btn btn-outline-primary" disabled />
                    }
                </div>

                <div class="col-auto">
                    <select asp-for="Order.OrderType" class="form-select">
                        <option selected value="@OrderType.ByPublishDate">By publish date</option>
                        <option value="@OrderType.ByWatches">By watches</option>
                        <option value="@OrderType.ByResponds">By responds</option>
                    </select>
                </div >

                <div class="col-auto">
                    <select asp-for="Order.IsAscending" class="form-select">
                        <option selected value="@false">Descending</option>
                        <option value="@true">Ascending</option>
                    </select>
                </div>

                <div class="col-sm-auto col-12">
                    @if (!Model.IsNextDisabled)
                    {
                        <input asp-route-Id="@(Model.CurrentPage + 1)" type="submit" value="Next page" class="form-control btn btn-outline-primary" />
                    }
                    else
                    {
                        <input value="Next page" type="submit" class="form-control btn btn-outline-primary" disabled />
                    }
                </div>
            </div>

            <div class="list-group-flush mb-3">
                @foreach (VacancieIndexVm viewModel in Model.Items)
                {
                    <div class="list-group-item p-0 mb-3">
                        <div class="card">

                            <div class="card-header">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5>
                                        <a asp-action="Details" asp-route-id="@viewModel.Vacancie.Id" class="link-underline link-underline-opacity-0">@viewModel.Vacancie.Name</a>
                                    </h5>
                                    <small>@viewModel.PublishedAgo</small>
                                </div>
                            </div>

                            <div class="card-body">
                                <p>
                                    @Html.Raw(viewModel.ShortDescription)
                                </p>

                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a asp-action="Details" asp-route-id="@viewModel.Vacancie.Id" class="link-underline link-underline-opacity-0">Details</a>
                                    </div>
                                    <div class="d-flex justify-content-end gap-3">
                                        <label>
                                            <i class="fa-solid fa-eye"></i> @viewModel.Vacancie.CountWatched
                                        </label>
                                        <label>
                                            <i class="fa-solid fa-people-line"></i> @viewModel.Vacancie.RespondsCount
                                        </label>
                                    </div>
                                </div>
                            </div>
                       
                            <div class="card-footer">
                                <div class="d-flex justify-content-start gap-3 align-items-top">
                                    <img class="rounded-circle" style="width:50px; height: 50px;" src="@viewModel.Vacancie.Company.ImagePath">
                                    <a asp-controller="Company" asp-action="Details" asp-route-Id="@viewModel.Vacancie.CompanyId" class="link-underline link-underline-opacity-0">@viewModel.Vacancie.Company.Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (Model.Items.Any())
            {
                <div class="row justify-content-between mb-3">
                    <div class="col-sm-auto col-12">
                        @if (!Model.IsPreviousDisabled)
                        {
                            <input asp-route-Id="@(Model.CurrentPage - 1)" type="submit" value="Previous page" class="form-control btn btn-outline-primary" />
                        }
                        else
                        {
                            <input value="Previous page" type="submit" class="form-control btn btn-outline-primary" disabled />
                        }
                    </div>

                    <div class="col-sm-auto col-12">
                        @if (!Model.IsNextDisabled)
                        {
                            <input asp-route-Id="@(Model.CurrentPage + 1)" type="submit" value="Next page" class="form-control btn btn-outline-primary" />
                        }
                        else
                        {
                            <input value="Next page" type="submit" class="form-control btn btn-outline-primary" disabled />
                        }
                    </div>
                </div>
            }

        </div>

    </div>

    </form>
</div>

